.card{
    border-radius: 30px;
    background-color: gold;
    margin: 1rem;
}

.question--tags{
    height: 1.2rem;
    font-size: 0.8rem;
    margin: 0.5rem;
    padding: 0;
}

a{
    text-decoration: none;
}