.card{
    border-radius: 30px;
    background-color: lightgrey;
    margin: 1rem;
}

.question--tags{
    height: 1.5rem;
    font-size: 0.7rem;
    margin: 0.5rem;
    padding: 0;
}


a{
    text-decoration: none;
    color: white;

}

a:hover{
    text-decoration: none;
}

.valid{
    background-color: greenyellow;
}

.moderator{
    background-color: red;
    color: white;
}

.button--toggle{
    background-color: red;
    font-weight: bolder;
    margin: 0.2rem;
    
}

td a{
    color: black;
}