.card{
    border-radius: 30px;
    background-color: lightgrey;
    margin: 1rem;
}

.question--tags{
    height: 1.5rem;
    font-size: 0.7rem;
    margin: 0.5rem;
    padding: 0;
}


a{
    text-decoration: none;
    color: white;

}

a:hover{
    text-decoration: none;
}

.valid{
    background-color: greenyellow;
}

.moderator{
    background-color: red;
    color: white;
}

.button--toggle{
    background-color: #17a2b8;
    font-weight: bolder;
    margin: 0.2rem;
    
}

td a{
    color: black;
}

.form--answer{
    width: 50%;
    margin-left: 40%;
    border: 20px solid #17a2b8;
    background-color: #17a2b8;
    border-radius: 5px;
    height: 15rem;
    box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.226);
}

#answer_content{
    height: 10rem;
}

.question--list{
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.158);
}

.form--button{
    border: none;
    background-color: white;
}
